#!/bin/sh
# 複製此檔為 testsecrets.sh，填入實際值後執行 `source testsecrets.sh`
# testsecrets.sh 已在 .gitignore，不會進入版控

export NETJWE_TEST_ENCRYPTED_SECRET_KEY="<SP-API 傳來的 encrypted_secret_key，base64，64 字元>"
export NETJWE_TEST_CLIENT_SECRET="<myData 管理後臺的 client_secret，16 字元>"
export NETJWE_TEST_CBC_IV="<myData 管理後臺的 cbc iv，16 字元>"
export NETJWE_TEST_EXPECTED_SECRET_KEY="<解密後的明文 secret_key，32 字元>"
